{% set url = ea_url()
    .setController('App\\Controller\\Admin\\ArticleCrudController')
    .setAction('delete')
    .setEntityId(article.id) %}
<form method="post" action="{{ url }}" onsubmit="return confirm('Voulez vous supprimer cet article ?');">
    <input type="hidden" name="token" value="{{ csrf_token('ea-delete') }}" />
    <button id="delete-article-button" class="action-button"></button>
</form>
