{% set url = ea_url()
    .setController('App\\Controller\\Admin\\ImageCrudController')
    .setAction('customDelete')
    .setEntityId(image.id) %}
<form method="post" action="{{ url }}" onsubmit="return confirm('Voulez vous supprimer cette image ?');">
    <button class="delete-button"></button>
</form>
