/*Special code for contact.html.twig*/
.content {
    margin: 17vh 5% 0 5%;
    height: 80vh;
}

.image {
    text-align: center;
    padding-top: 2%;
}

.image img {
    width: 27vh;
}

.contact_infos {
    text-align: center;
    font-size: var(--paragraph-fontsize);
    line-height: 1.4;
}

.contact_infos a {
    text-decoration: none;
    color: var(--main-color);
}

.logos {
    text-align: center;
}

.logos img {
    width: 8vh;
    margin: 1% 4%;
}

.logo-reseau {
    transition: all 1s;
    list-style: none;
}

.logo-reseau:hover {
    transform: scale(1.25);
}

.footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

@media screen and (max-width: 500px) {

    .image img {
        width: 25vh;
    }

    .contact_infos {
        margin: 4% 1%;
        line-height: 1.5;
    }
    .logos img {
        width: 5vh;
    }
}

